@media (max-width: 820px) {
    nav {
        display: none;
    }

    .menu {
        display: flex;
    }

    .hero .container {
        flex-direction: column;
    }

    .hero .leftside {
        text-align: center;
        padding-bottom: 30px;
    }

    .hero .rightside {
        padding-bottom: 50px;
    }

    .hero .rightside img {
        height: 300px;
    }

    .hero h1 {
        font-size: 44px;
        line-height: 50px;
    }

    .search {
        padding-bottom: 30px;
    }

    .searchTitle {
        text-align: center;
    }

    .searchSides {
        flex-direction: column;
        gap: 20px;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    footer .container {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 500px) {
    .products {
        grid-template-columns: 1fr;
    }
}