@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;

    list-style: none;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
}

body {
    background-color: #141414;
    color: white;
}

.container {
    width: 100%;
    max-width: 1200px;

    margin: auto;
    padding: 0 20px;
}

header .container {
    display: flex;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 45px;
    gap: 50px;
}

.logo a {
    font-family: "Calistoga", serif;
    font-size: 36px;
    text-decoration: none;
    color: white;
}

.logo a span {
    color: #fe6a0f;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
}

nav ul {
    display: flex;
    flex: 1;
}

nav li {
    margin: 0 30px;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color: #999;
}

nav .button {
    display: block;
    padding: 15px 30px;

    border: 1px solid white;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

nav .button:hover {
    color: #999;
    border-color: #999;
}

.menu {
    display: none;
    flex: 1;
    justify-content: flex-end;
}

.menu .menu-icon {
    width: 32px;
    height: 32px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    cursor: pointer;
}

.menu .menu-icon div {
    height: 6px;
    background-color: white;
}

.hero .container {
    display: flex;
}

.hero .leftside,
.hero .rightside {
    flex: 1;
}

.hero .leftside {
    padding-bottom: 150px;
}

.hero .rightside {
    text-align: center;
}

.hero .rightside img {
    width: auto;
    height: 600px;
}